<footer>
  <div class="footer-navbar pb-24">
    <div class="footer-brand">
      <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="logo">
    </div>
    <ul>
      <li class="footer-item">
        <a href="product-list-RWD.html">商品列表</a>
      </li>
      <li class="footer-item">
        <a href="./story-RWD.html">品牌故事</a>
      </li>
    </ul>
  </div>
  <div class="copyright-area">
    <p class="text-sm">Copyright ©2025 URBNSTYLE</p>
    <p class="text-sm">All Rights Reserved.</p>
  </div>
</footer>