<nav class="py-16">
  <div class="navbar"> 
    <ul>
      <li class="nav-item nav-brand">
        <a href="../pages/index.html">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="logo">
        </a>
      </li>
      <li class="nav-item">
        <a href="../pages/product-list.html">商品列表</a>
      </li>
      <li class="nav-item">
        <a href="../pages/story.html">品牌故事</a>
      </li>
    </ul>
    <div class="nav-btn">
      <button type="button" class="btn btn-icon"><i class="bi bi-person"></i></button>
    </div>
  </div>
</nav>