/* 基本樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $neutral-900;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color:  $primary-400;
  text-underline-offset: 4px;
  display: block;
  text-decoration: none;
}

a:hover {
  color:  $primary-500;
}

footer {
  background-color:  $neutral-100;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

@media (max-width: 576px) {
  footer {
    background-color:  $neutral-100;
    text-align: center;
    padding: 32px 12px;
  }
}

/* 通用樣式 */
.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 576px) {
  .container {
    padding: 32px 12px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-1{
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 2);
}

.col-3 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 3);
}

.col-4 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 4);
}

.col-5 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 5);
}

.col-6 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 6);
}

.col-7 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 7);
}

.col-8 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 8);
}

.col-9 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 9);
}

.col-10 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 10);
}

.col-11 {
  padding-left: 8px;
  padding-right: 8px;
  width: calc(100% / 12 * 11);
}

.col-12 {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
}

@media (max-width: 576px) {
  .col-sm-1 {
    padding-left: 12px;
    padding-right: 12px;
    width: 8.33333333%;
  }
  .col-sm-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.66666667%;
  }
  .col-sm-3 {
    padding-left: 12px;
    padding-right: 12px;
    width: 25%;
  }
  .col-sm-4 {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33333333%;
  }
  .col-sm-5 {
    padding-left: 12px;
    padding-right: 12px;
    width: 41.66666667%;
  }
  .col-sm-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
  }
  .col-sm-7 {
    padding-left: 12px;
    padding-right: 12px;
    width: 58.33333333%;
  }
  .col-sm-8 {
    padding-left: 12px;
    padding-right: 12px;
    width: 66.66666667%;
  }
  .col-sm-9 {
    padding-left: 12px;
    padding-right: 12px;
    width: 75%;
  }
  .col-sm-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.33333333%;
  }
  .col-sm-11 {
    padding-left: 12px;
    padding-right: 12px;
    width: 91.66666667%;
  }
  .col-sm-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-md-1 {
    padding-left: 6px;
    padding-right: 6px;
    width: 8.33333333%;
  }
  .col-md-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: 16.66666667%;
  }
  .col-md-3 {
    padding-left: 6px;
    padding-right: 6px;
    width: 25%;
  }
  .col-md-4 {
    padding-left: 6px;
    padding-right: 6px;
    width: 33.33333333%;
  }
  .col-md-5 {
    padding-left: 6px;
    padding-right: 6px;
    width: 41.66666667%;
  }
  .col-md-6 {
    padding-left: 6px;
    padding-right: 6px;
    width: 50%;
  }
  .col-md-7 {
    padding-left: 6px;
    padding-right: 6px;
    width: 58.33333333%;
  }
  .col-md-8 {
    padding-left: 6px;
    padding-right: 6px;
    width: 66.66666667%;
  }
  .col-md-9 {
    padding-left: 6px;
    padding-right: 6px;
    width: 75%;
  }
  .col-md-10 {
    padding-left: 6px;
    padding-right: 6px;
    width: 83.33333333%;
  }
  .col-md-11 {
    padding-left: 6px;
    padding-right: 6px;
    width: 91.66666667%;
  }
  .col-md-12 {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
  }
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

.hstack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.vstack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.fs-1 {
  font-size: 64px;
  font-weight: 700;
} 

.fs-2 {
  font-size: 48px;
  font-weight: 700;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.text-lg {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color:  $neutral-600;
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color:  $neutral-600;
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color:  $neutral-600;
}

.text-highlight {
  color:  $primary-400;
}

.text-primary {
  color:  $neutral-900;
}

.text-secondary {
  color:  $neutral-600;
}

.text-muted {
  color:  $neutral-500;
}

.text-on-dark {
  color:  $neutral-0;
}

.text-danger-300 {
  color:  $danger-300;
}

.bg-primary-100 {
  background:  $primary-100;
}

.bg-primary-200 {
  background-color:  $primary-200;
}

.bg-neutral-100 {
  background:  $neutral-100;
}

.link-primary {
  color:  $primary-400;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-primary:hover {
  color:  $primary-500;
}

.link-primary:focus {
  text-decoration-thickness: 2px;
}

.link-primary[aria-disabled="true"]{
  color:  $primary-400;
  opacity: 0.4;
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-48 {
  padding-bottom: 48px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-32 {
  padding: 32px;
}

.ms-8 {
  margin-left: 8px;
}

.me-8 {
  margin-right: 8px;
}

.me-12 {
  margin-right: 12px;
}

.me-24 {
  margin-right: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.gap-8 {
  gap: 0.25rem;
}

.gap-12 {
  gap: 0.5rem;
}

.gap-16 {
  gap: 0.6666rem;
}

@media (max-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-none {
    display: none !important;
  }
}


@media (max-width: 767px) {
  .h2-md {
    font-size: 32px;
  }

  .h3-md {
    font-size: 28px;
  }

  .h4-md {
    font-size: 24px;
  }

  .h5-md {
    font-size: 20px;
  }

  .h6-md {
    font-size: 16px;
  }

  .text-md-md {
    font-size: 16px;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-none {
    display: none !important;
  }

  .overflow-x-md-auto {
    overflow-x: auto !important;
  }

  .flex-md-wrap {
    flex-wrap: wrap !important;
  }

  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }

  .flex-md-column {
    display: flex;
    flex-direction: column !important;
  }

  .py-md-16 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .py-md-24 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .py-md-32 {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .pb-md-8 {
    padding-bottom: 8px;
  }

  .pb-md-32 {
    padding-bottom: 32px;
  }

  .me-md-16 {
    margin-right: 16px;
  }

  .mb-md-12 {
    margin-bottom: 12px;
  }

  .mb-md-24 {
    margin-bottom: 24px;
  }

  .row-gap-md-2 {
    row-gap: 12px !important;
  }

  .column-gap-md-2 {
    column-gap: 12px !important;
  }
}