.btn {
  background-color: transparent;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn:disabled, .btn.disabled {
  opacity: 0.4
}

.btn-icon {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: calc(1rem + 1.5em + 2px);
  width: calc(1rem + 1.5em + 2px);
  padding: 0;
}

.btn-icon .bi{
  padding: 12px;
  font-size: 24px;
  vertical-align: middle;
}

.btn-icon .bi:hover {
  color: $primary-400;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-300;
  color: $neutral-900;
}

.btn-neutral {
  background-color: $neutral-900;
  color: $neutral-0;
}

.btn-neutral:hover:not(:disabled) {
  background-color: $neutral-600;
  color: $neutral-0;
}

.btn-neutral:focus {
  background-color: $neutral-600;
  color:  $neutral-0;
  outline: 3px solid;
  border-color:  $neutral-border-900;
}

.btn-neutral.disabled {
  opacity: 0.4;
}

.btn-outline-neutral {
  background-color:  $neutral-0;
  border: 1px solid  $neutral-900;
  color:  $neutral-900;
}

.btn-outline-neutral:hover:not(:disabled) {
  background-color:  $neutral-900;
  border: 1px solid  $neutral-900;
  color:  $neutral-0;
  transition: ease-in-out 0.35s;
}

.btn-outline-neu300 {
  background-color:  $neutral-0;
  border: 1px solid  $neutral-300;
  color:  $neutral-900;
}

.btn-outline-neu300.active {
  background-color:  $neutral-0;
  border: 1px solid  $neutral-900;
  color:  $neutral-900;
}

.btn-outline-neu300:hover:not(:disabled) {
  background-color:  $neutral-900;
  border: 1px solid  $neutral-900;
  color:  $neutral-0;
  transition: ease-in-out 0.35s;
}