.page-title-box {
  margin-bottom: 24px;
}

.page-title {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .page-title-box {
    margin-bottom: 12px;
  }

  .page-title {
    margin-bottom: 12px;
  }
}

.menu {
  padding-right: 12px;
  width: 16.666667%;
}

.menu-item {
  margin-bottom: 16px;

  a {
    text-decoration: none;
    padding: 12px 0px;
    color: $neutral-900;

    &:hover,
    &:active {
      color: $primary-400;
    }
  }
}

.page-right {
  padding-left: 12px;
  width: 83.3333333333%;

  .product-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 24px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }

  .page-right {
    width: 100%;
    padding: 0;

    .product-list {
      display: grid;
      grid-template-columns: repeat(2, minmax(0px, 1fr));
      gap: 12px;
      margin-bottom: 32px;
    }
  }
}

.page-content {
  display: flex;
  flex-wrap: wrap;
}

.product-list [detail-link] {
  color: $neutral-900;
}

.product-card {
  margin-bottom: 24px;

  img {
    padding-bottom: 12px;
    }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.page-item .bi {
  padding-right: 0;
}

.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}

.page-item .btn.active {
  background-color: $primary-300;
  font-weight: 500;
}

.page-item .btn:hover:not(:disabled):not(.active) {
  background-color: $neutral-100;
  font-weight: 500;
}