.paragraph {
  text-align: justify;
}

.product-detail-img {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 8px;
}

.product-detail-img img {
  width: 369px;
  height: auto;
}

.price {
  color: $primary-400;
}

.original-price {
  color: $neutral-500;
  text-decoration-line: line-through;
  padding-left: 8px;
}

.product-action {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.product-action .btn {
  width: 50%;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-wrapper .card-img-top {
  width: 306px;
}

.card-wrapper .card-header {
  padding-top: 12px;
  padding-bottom: 4px;
}

.card-title {
  padding-bottom: 4px;
}

.special-action  {
  display: flex;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn-wrapper {
  .option {
    width: 64px;
    height: auto;

    .option-img {
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }

    &:focus:not([aria-disabled="true"]) {
      outline: none;
      color: $neutral-900;

      .option-img {
        outline: 1px solid $neutral-900;
      }

      .option-text {
        color: $neutral-900;
      }
    }

    .option-img {
      width: 64px;
      margin-bottom: 4px;
    }

    &[aria-disabled="true"] {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}

.special-cta p.option-text {
  color: $neutral-600;
  text-align: center;
}

.size-btn {
  width: 160px;
}

.accordition-item {
  border-bottom: 1px solid $neutral-300;
}

.accordition-item .accordition-title {
  padding-top: 12px;
  padding-bottom: 4px;
}

.accordition-item .accordition-paragraph {
  color: $neutral-600;
}

.accordition-item .accordition-paragraph:nth-last-child(1) {
  padding-bottom: 12px;
}