$primary-100: #F5FEE7;
$primary-200: #E8FEC5;
$primary-300: #c0fa73;
$primary-400: #57A203;
$primary-500: #477A11;
$neutral-0: #ffffff;
$neutral-100: #F8F9FA;
$neutral-200: #E9ECFE;
$neutral-300: #DEE2E6;
$neutral-500: #ADB5BD;
$neutral-600: #6C757D;
$neutral-900: #212529;
$danger-100: #FCF1F1;
$danger-200: #EBA7A7;
$danger-300: #D74F4F;
$warning-100: #FEF6EC;
$warning-200: #F9C588;
$warning-300: #F38B12;
$success-100: #EFF8F4;
$success-200: #9AD1BA;
$success-300: #36A375;
$info-100: #EEF5FC;
$info-200: #97C3ED;
$info-300: #3087DB;
/* rgb */
$primary-border-300: rgba(192, 250, 115, 0.4);
$neutral-border-900: rgba(33, 37, 41, 0.1);