@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 顏色 */
:root {
  --primary-100: #F5FEE7;
  --primary-200: #E8FEC5;
  --primary-300: #C0FA73;
  --primary-400: #57A203;
  --primary-500: #477A11;
  --neutral-0: #ffffff;
  --neutral-100: #F8F9FA;
  --neutral-200: #E9ECFE;
  --neutral-300: #DEE2E6;
  --neutral-600: #6C757D;
  --neutral-900: #212529;
}


/* 基本樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

img {
  vertical-align: middle;
}

a {
  color: var(--primary-400);
  text-underline-offset: 4px;
  display: block;
}

a:hover {
  color: var(--primary-500);
}

footer {
  background-color: var(--neutral-100);
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

/* 通用樣式 */
.container {
  max-width: 856px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1296px;
  margin: 0 auto;
  /* margin-left: 312px;
  margin-right: 321px; */
}

.btn {
  background-color: transparent;
  border: transparent;
  padding: 0;
}

.btn-icon .bi{
  display: inline-block;
  padding: 12px 12px;
  font-size: 24px;
  width: 48px;
  height: 48px;
}

.btn-icon .bi:hover {
  color: var(--primary-400);
  cursor: pointer;
}

.btn-neutral {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  letter-spacing: 0.05em;
  line-height: 1.5;
}

.text-center {
  text-align: center;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-600);
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-600);
}

.text-primary-400 {
  color: var(--primary-400);
}

.text-neutral-0 {
  color: var(--neutral-0);
}

.text-neutral-300 {
  color: var(--neutral-300);
}

.text-neutral-600 {
  color: var(--neutral-600);
}

.text-neutral-900 {
  color: var(--neutral-900);
}

.bg-primary-100 {
  background: var(--primary-100);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-neutral-100 {
  background: var(--neutral-100);
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-32 {
  padding: 32px;
}

.ms-8 {
  margin-left: 8px;
}

.me-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

/* 自訂 */
.navbar {
  max-width: 1296px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  align-items: center;
}

.nav-brand {
  margin-right: 48px;
}

.nav-item, .footer-item {
  padding: 12px 0px;
  margin-right: 40px;
}

.nav-item a, .footer-item a {
  color: var(--neutral-900);
}

.nav-item a:hover, .footer-item a:hover {
  color: var(--primary-400);
  cursor: pointer;
}

.bg-hero {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
}

.bg-intro {
  max-width: 1076px;
  margin-left: -110px;
  margin-right: -110px;
}

.intro, .history, .concept, .story {
  border-bottom: 1px solid var(--neutral-300);
  margin-bottom: 48px;
}

.history li {
  margin-left: 10px;
  list-style: inside;
}

.historyLabel {
  border-left: 1px solid var(--neutral-900);
}

.conceptLabel {
  border-left: 3px solid var(--neutral-300);
}

.story {
  margin-bottom: 0;
}

.bi {
  padding-right: 8px;
  vertical-align: bottom;
}

.breadcrumb ol {
  display: flex;
}

.breadcrumb-item a {
  color: var(--neutral-600);
  text-decoration: none;
}

.breadcrumb-item:nth-child(2) {
  padding-left: 12px;
}

.breadcrumb-item:nth-child(2) a {
  color: var(--neutral-900);
}

.breadcrumb-item:nth-child(2) ::before {
  content: "/";
  padding-right: 12px;
  color: var(--neutral-300);
}

.page-title {
  padding: 7px 0px;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.menu {
  width: 196px;
}

.menu-item {
  margin-bottom: 16px;
}

.menu-item a {
  text-decoration: none;
  padding: 12px 0px;
  color: var(--neutral-900);
}

.menu-item a:active, a:hover {
  color: var(--primary-400);
}

.product-list {
  width: 1076px;
  max-width: 1076px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 24px;
  margin-bottom: 24px;
}

.product-card {
  margin-bottom: 24px;
}

.product-card img {
  width: 100%;
  height: 324.67px;
  padding-bottom: 12px;
}

.card-title {
  padding-bottom: 4px;
}

.justify-content-center {
  justify-content: center;
}

.pagination {
  display: flex;
  margin: 0 auto;
}

.pagination ul{
  display: inline;
}

.page-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.page-item .bi {
  padding-right: 0;
}

.page-item a {
  display: inline;
  text-decoration: none;
  color: var(--neutral-900);
  transition: background-color .3s;
  padding: 8px 15px;
  text-underline-offset: 0;
  margin: 0 8px;
}

.page-item a:active {
  background-color: var(--primary-300);
}

.special-action  {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.footer-navbar {
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.footer-brand {
  display: flex;
  align-items: center;
}

.footer-link {
  display: inline-flex;
}

.footer-item:nth-last-child(1) {
  margin-right: 0;
}

.copyright-area {
  max-width: 1296px;
  border-top: 1px solid var(--neutral-300);
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

