@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 顏色 */
:root {
  --primary-100: #F5FEE7;
  --primary-200: #E8FEC5;
  --primary-300: #C0FA73;
  --primary-400: #57A203;
  --primary-500: #477A11;
  --neutral-0: #ffffff;
  --neutral-100: #F8F9FA;
  --neutral-200: #E9ECFE;
  --neutral-300: #DEE2E6;
  --neutral-500: #ADB5BD;
  --neutral-600: #6C757D;
  --neutral-900: #212529;
  --danger-100: #FCF1F1;
  --danger-200: #EBA7A7;
  --danger-300: #D74F4F;
  --warning-100: #FEF6EC;
  --warning-200: #F9C588;
  --warning-300: #F38B12;
  --success-100: #EFF8F4;
  --success-200: #9AD1BA;
  --success-300: #36A375;
  --info-100: #EEF5FC;
  --info-200: #97C3ED;
  --info-300: #3087DB;
}


/* 基本樣式 */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--primary-400);
  text-underline-offset: 4px;
  display: block;
  text-decoration: none;
}

a:hover {
  color: var(--primary-500);
}

footer {
  background-color: var(--neutral-100);
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

/* 通用樣式 */
.container {
  max-width: 856px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1296px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-1 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12);
}

.col-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 2);
}

.col-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 3);
}

.col-4 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 4);
}

.col-5 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 5);
}

.col-6 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 6);
}

.col-7 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 7);
}

.col-8 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 8);
}

.col-9 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 9);
}

.col-10 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 10);
}

.col-11 {
  padding-left: 12px;
  padding-right: 12px;
  width: calc(100% / 12 * 11);
}

.col-12 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.hstack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.vstack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.btn {
  background-color: transparent;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.btn:disabled, .btn.disabled {
  opacity: 0.4
}

.btn-icon {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: calc(1rem + 1.5em + 2px);
  width: calc(1rem + 1.5em + 2px);
  padding: 0;
}

.btn-icon .bi{
  padding: 12px;
  font-size: 24px;
  vertical-align: middle;
}

.btn-icon .bi:hover {
  color: var(--primary-400);
  cursor: pointer;
}

.btn-neutral {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

.btn-outline-neutral {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  color: var(--neutral-900);
}

.btn-outline-neu300 {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-300);
  color: var(--neutral-900);
}

.btn-outline-neu300.active {
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-900);
  color: var(--neutral-900);
}

.text-center {
  text-align: center;
}

.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-600);
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-600);
}

.text-highlight {
  color: var(--primary-400);
}

.text-primary {
  color: var(--neutral-900);
}

.text-secondary {
  color: var(--neutral-600);
}

.text-muted {
  color: var(--neutral-500);
}

.text-on-dark {
  color: var(--neutral-0);
}

.text-danger-300 {
  color: var(--danger-300);
}

.bg-primary-100 {
  background: var(--primary-100);
}

.bg-primary-200 {
  background-color: var(--primary-200);
}

.bg-neutral-100 {
  background: var(--neutral-100);
}

.px-8 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-12 {
  padding-right: 12px;
  padding-left: 12px;
}

.pt-32 {
  padding-top: 32px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.p-32 {
  padding: 32px;
}

.ms-8 {
  margin-left: 8px;
}

.me-8 {
  margin-right: 8px;
}

.me-12 {
  margin-right: 12px;
}

.me-24 {
  margin-right: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

/* 自訂 */
.navbar {
  max-width: 1296px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  align-items: center;
}

.nav-brand {
  margin-right: 48px;
}

.nav-item, .footer-item {
  padding: 12px 0px;
  margin-right: 40px;
}

.nav-item a, .footer-item a {
  color: var(--neutral-900);
}

.nav-item a:hover, .footer-item a:hover {
  color: var(--primary-400);
  cursor: pointer;
}

.bg-hero {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e1ad10bd2260f80c5f65be5bfc5042790a261115/2025-week1/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
}

.bg-intro {
  max-width: 1076px;
  margin-left: -110px;
  margin-right: -110px;
}

.intro, .history, .concept, .story {
  border-bottom: 1px solid var(--neutral-300);
  margin-bottom: 48px;
}

.history li {
  margin-left: 10px;
  list-style: inside;
}

.historyLabel {
  border-left: 1px solid var(--neutral-900);
}

.conceptLabel {
  border-left: 3px solid var(--neutral-300);
}

.story {
  margin-bottom: 0;
}

.bi {
  padding-right: 8px;
  vertical-align: bottom;
}

.breadcrumb ol {
  display: flex;
}

.breadcrumb-item a {
  color: var(--neutral-600);
  text-decoration: none;
}

.breadcrumb-item:nth-child(n+2) {
  padding-left: 12px;
}

.breadcrumb-item:nth-child(-n+3) ::after {
  content: "/";
  padding-left: 12px;
  color: var(--neutral-300);
}

.breadcrumb-item:nth-last-child(1) a {
  color: var(--neutral-900);
}

.page-title {
  padding: 7px 0px;
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.menu {
  width: 196px;
}

.menu-item {
  margin-bottom: 16px;
}

.menu-item a {
  text-decoration: none;
  padding: 12px 0px;
  color: var(--neutral-900);
}

.menu-item a:active, a:hover {
  color: var(--primary-400);
}

.product-list {
  width: 1076px;
  max-width: 1076px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 24px;
  margin-bottom: 24px;
}

.product-list [detail-link] {
  color: var(--neutral-900);
}

.product-card {
  margin-bottom: 24px;
}

.product-card img {
  width: 100%;
  height: 324.67px;
  padding-bottom: 12px;
}

.product-img {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  gap: 8px;
}

.product-img img {
  width: 369px;
  height: auto;
}

.product-content .price {
  color: var(--primary-400);
  font-weight: 700;
  line-height: 1.2;
  padding-right: 8px;
  margin-bottom: 16px;
}

.product-content .original-price {
  color: var(--neutral-500);
  text-decoration-line: line-through;
}

.product-action {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.product-action .btn {
  width: 50%;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.card-wrapper .card-img-top {
  width: 306px;
}

.card-wrapper .card-header {
  padding-top: 12px;
  padding-bottom: 4px;
}

.card-title {
  padding-bottom: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.page-item .bi {
  padding-right: 0;
}

.page-item .btn {
  padding: 8px 15px;
  border-radius: 0;
  font-weight: 400;
}

.page-item .btn.active {
  background-color: var(--primary-300);
  font-weight: 500;
}

.page-item .btn:hover {
  background-color: var(--primary-300);
}

.special-action  {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn-wrapper .option {
  width: 64px;
  height: auto;
}

.btn-wrapper img {
  width: 64px;
  padding-bottom: 4px;
}

.special-cta p.option-text {
  color: var(--neutral-600);
  text-align: center;
}

.size-btn {
  width: 160px;
}

.accordition-item {
  border-bottom: 1px solid var(--neutral-300);
}

.accordition-item .accordition-title {
  padding-top: 12px;
  padding-bottom: 4px;
}

.accordition-item .accordition-paragraph {
  color: var(--neutral-600);
}

.accordition-item .accordition-paragraph:nth-last-child(1) {
  padding-bottom: 12px;
}

.footer-navbar {
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.footer-brand {
  display: flex;
  align-items: center;
}

.footer-link {
  display: inline-flex;
}

.footer-item:nth-last-child(1) {
  margin-right: 0;
}

.copyright-area {
  max-width: 1296px;
  border-top: 1px solid var(--neutral-300);
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

