<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Week3-4 | 首頁 歐荻</title>
  </head>
  <body>
    <%- include("./layout/nav") %>

    <div class="bg-banner">
      <div class="banner-text text-on-dark"> 
        <p class="fs-1">URBNSTEP</p>
        <p class="h3 mb-48">Your Step, Your Statement</p>
        <button class="btn btn-primary">立即選購</button>
      </div>
    </div>
    <main>
      <div class="container py-64 py-md-40">
        <div class="mb-32 mb-md-24">
          <p class="fs-2 h2-md pb-12 pb-md-8 text-center">New Arrival</p>
          <p class="h2 h4-md text-center">新品上市</p>
        </div>
        <!-- new arrival -->
        <div class="col-12 pb-64">
          <div class="row product-wall-gap">
            <div class="col-6 col-md-6">
              <img class="product-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-1.png" alt="productImg">
              <div class="product-name h5">Monoverse</div>
              <p class="text-md">NT$3,600</p>
            </div>
            <div class="col-6 col-md-6">
              <img class="product-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-2.png" alt="productImg">
              <div class="product-name h5">PLATFORM 404</div>
              <p class="text-md">NT$2,600</p>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6">
              <img class="product-img pb-12" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-3.png" alt="productImg">
              <div class="product-name h5">URBN Force</div>
              <p class="text-md">NT$3,200</p>
            </div> 
            <div class="col-6 col-md-6">
              <img class="product-img pb-12" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/new-4.png" alt="productImg">
              <div class="product-name h5">Mode90</div>
              <p class="text-md">NT$4,000</p>
            </div> 
          </div>
        </div>
      </div>
      <!-- end new arrival -->
      <!-- top sale -->
      <div class="container py-64 py-md-40">
        <p class="h2 h4-md mb-16">熱銷補貨</p>
        <div class="top-sale-wall">
          <div class="row flex-md-nowrap overflow-x-md-auto">
            <div class="col-3 product-md-col">
              <div class="ribbon-box sale-product">
                <div class="ribbon">
                  <span>人氣 No.1</span>
                </div>
                <img class="overlay" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png" alt="topSale">
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="ribbon-box sale-product">
                <div class="ribbon">
                  <span>人氣 No.1</span>
                </div>
                <img class="overlay" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png" alt="topSale">
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="ribbon-box sale-product">
                <div class="ribbon">
                  <span>人氣 No.1</span>
                </div>
                <img class="overlay" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png" alt="topSale">
              </div>
            </div>
            <div class="col-3 product-md-col">
              <div class="ribbon-box sale-product">
                <div class="ribbon">
                  <span>人氣 No.1</span>
                </div>
                <img class="overlay" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png" alt="topSale">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end top sale -->

      <!-- sale banner -->
      <section class="py-48 py-md-24">
        <div class="bg-sale">
          <div class="mb-16 flex-md-column">
            <span class="fs-2 h2-md text-on-dark pb-md-8">URBNSTEP</span>
            <span class="h1 h3-md pb-md-8">x</span>
            <span class="fs-2 h2-md text-on-dark pb-md-8">Kevin Chen</span>
          </div>
          <p class="h2 h5-md text-on-dark mb-32 mb-md-24">跨界聯名，限量發售</p>
          <p class="text-muted text-lg text-md-md mb-48 flex-md-column">
            <span>新銳漫畫家 Kevin Chen 親自操刀設計</span>
            <span class="d-md-none">，</span>
            <span>街頭能量全面引爆！</span>
          </p>
          <button type="button" class="btn btn-primary">立即搶購</button>
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/star.svg" alt="star" class="star-img">
          <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/6d666caf369e2de99b649ce9fc967d13e36f30b5/2025-week3-4/sparkle.svg" alt="sparkle" class="sparkle-img">
        </div>
      </section>
      <!-- series -->
      <div class="container py-64 py-md-40">
        <p class="h2 h4-md mb-16">依系列選購</p>
        <div class="series-row">
          <div class="row row-gap-md-2">
            <div class="col-3 col-md-6">
              <div class="category">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png" alt="style-runner">
                <div class="category-text">
                  <h3 class="h3 h6-md mb-8">URBN RUNNER</h3>
                  <div class="h4 h6-md">慢跑系列</div>
                </div>
              </div>
            </div>
            <div class="col-3 col-md-6">
              <div class="category">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-11.png" alt="style-runner">
                <div class="category-text">
                  <h3 class="h3 h6-md mb-8">STREETMODE</h3>
                  <div class="h4 h6-md">滑板系列</div>
                </div>
              </div>
            </div><div class="col-3 col-md-6">
              <div class="category">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-9.png" alt="style-runner">
                <div class="category-text">
                  <h3 class="h3 h6-md mb-8">CHUNK DISTRICT</h3>
                  <div class="h4 h6-md">厚底系列</div>
                </div>
              </div>
            </div><div class="col-3 col-md-6">
              <div class="category">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/product-10.png" alt="style-runner">
                <div class="category-text">
                  <h3 class="h3 h6-md mb-8">COLLAB ZONE</h3>
                  <div class="h4 h6-md">聯名企劃</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end series -->
      <!-- inspiriation -->
      <div class="container py-64 py-md-40 mb-48 mb-md-24">
        <p class="h2 h4-md mb-16">穿搭靈感</p>
        <div class="inspiration-row overflow-x-md-auto">
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-1.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-2.png" alt="">
              </div>
              <div class="inspiration-col-12">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-3.png" alt="">
              </div>
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-4.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-5.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-6.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-7.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-8.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-9.png" alt="">
              </div>
            </div>
          </div>
          <div class="inspiration-col-4">
            <div class="inspiration-row">
              <div class="inspiration-col-12">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-10.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-11.png" alt="">
              </div>
              <div class="inspiration-col-6">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/inspiration-12.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end inspiration -->
    </main>
    <!-- special CTA -->
    <div class="special-action bg-primary-200 py-24 justify-center">
      <span class="special-text">加入會員取得9折優惠</span>
      <button type="button" class="btn btn-neutral special-btn">馬上註冊</button>
    </div>
    <%- include("./layout/footer") %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
