<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week3-4 | 產品列表頁 歐荻</title>
</head>
<body>
  <%- include("./layout/nav") %>
  <main class="container py-32 py-sm-16 mb-48 mb-sm-24">
    <div class="row">
      <div class="col-12">
        <!-- breadcrumb -->
        <div class="page-title-box breadcrumb">
          <ol>
            <li class="breadcrumb-item">
              <a href="#!">首頁</a>
            </li>
            <li class="breadcrumb-item">
              <a>女鞋</a>
            </li>
            <li class="breadcrumb-item active">
              <a>所有商品</a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <!-- page-title -->
    <div class="page-title">
      <span class="h3">女鞋</span>
    </div> <!-- end title -->
    
    <!-- page-content -->
    <div class="page-content">
      <div class="row">
        <!-- page-left -->
        <div class="menu col-2 d-none d-md-block">
          <ul>
            <li class="menu-item">
              <a href="#!">所有商品</a>
            </li>
            <li class="menu-item">
              <a href="#!">慢跑鞋</a>
            </li>
            <li class="menu-item">
              <a href="#!">滑板鞋</a>
            </li>
            <li class="menu-item">
              <a href="#!">厚底鞋</a>
            </li>
            <li class="menu-item">
              <a href="#!">限定 / 聯名企劃</a>
            </li>
          </ul>
        </div><!-- end page-left -->
        
        <!-- page-right -->
        <div class="page-right col-md-10 col-12">
          <div class="product-list">
            <a detail-link href="/product-detail-RWD.html">
              <div class="product-card">
                <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product.png" alt="product">
                <div class="card-title h6">
                  <span>PLATFORM 404</span>
                </div>
                <div class="price">
                  <span>NT$2,600</span>
                </div>
              </div>
            </a>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-1.png" alt="product">
              <div class="card-title h6">
                <span>PLATFORM 404</span>
              </div>
              <div class="price">
                <span>NT$2,600</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-2.png" alt="product">
              <div class="card-title h6">
                <span>VM001</span>
              </div>
              <div class="price">
                <span>NT$2,600</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-3.png" alt="product">
              <div class="card-title h6">
                <span>Melty Kiss</span>
              </div>
              <div class="price">
                <span>NT$4,000</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-4.png" alt="product">
              <div class="card-title h6">
                <span>BOOMBLOK</span>
              </div>
              <div class="price">
                <span>NT$3,200</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-5.png" alt="product">
              <div class="card-title h6">
                <span>BOOMBLOK</span>
              </div>
              <div class="price">
                <span>NT$3,200</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-5.png" alt="product">
              <div class="card-title h6">
                <span>R:UNER</span>
              </div>
              <div class="price">
                <span>NT$4,000</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-6.png" alt="product">
              <div class="card-title h6">
                <span>Sugar Snap</span>
              </div>
              <div class="price">
                <span>NT$4,000</span>
              </div>
            </div>
            <div class="product-card">
              <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week2/product-7.png" alt="product">
              <div class="card-title h6">
                <span>Neofoam</span>
              </div>
              <div class="price">
                <span>NT$4,000</span>
              </div>
            </div>
          </div><!-- end product-list -->

          <!-- pagination -->
          <ul class="pagination">
            <li class="me-12 page-item">
              <button type="button" class="btn" disabled>
                <i class="bi bi-chevron-left"></i>
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn active">
                1
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">
                2
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">
                3
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">
                ...
              </button>
            </li>
            <li class="me-8 page-item">
              <button type="button" class="btn">
                10
              </button>
            </li>
            <li class="page-item">
              <button type="button" class="btn">
                <i class="bi bi-chevron-right"></i>
              </button>
            </li>
          </ul>
          <!-- end pagination -->
        </div><!-- end page-right -->
      </div>
    </div><!-- end page-content -->
  </main>

  <!-- special CTA -->
  <div class="special-action bg-primary-200 justify-center py-24">
    <span class="me-24 me-sm-16 cta-text">加入會員取得9折優惠</span>
    <button type="button" class="btn btn-neutral">馬上註冊</button>
  </div>

  <%- include("./layout/footer") %>

  <script type="module" src="../main.js"></script>
</body>
</html>